﻿h1 {
    text-align: center;
    margin-bottom: 25px;
}

#OurMainSlogan {
    text-align: center;
    margin-bottom: 25px;
}

body {
    padding: 50px 50px 0px 50px;
}

.logo {
    padding: 50px;
}

.logo > img {
    max-height: 400px;
}

.container {
    min-height: calc(100vh - 100px);
}

footer {
    text-align: center;
}


input[type="text"] {
    width: 100%;
}
