﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CASE: Cat Day Care Enterprise</title>
</head>
<body>
    <h1>
        CASE: Cat Day Care Enterprise
    </h1>

    <p>
        Your task is to refactor this simple application to meet the standards of a large enterprise application. So, over-engineering is that what is wanted!
    </p>

    <p>
        And if over-engineering makes you feel bad, just close your eyes and imagine that this simple application contains hundreds of thousands lines of code :)
    </p>

    <p>
        Please note that...

        <ul>
            <li>
                You don't have to make multiple projects, just use folders and/or namespaces to separate things.
            </li>
            <li>
                You don't have to code everything, just use code comments to tell "what would you do".
            </li>
        </ul>
    </p>

    <a href="/DayCare">Start here...</a>

    <br />
    <br />

    <hr />
    <footer>
        <p>
            &copy; 2018 - Citrus Solutions Oy - <a href="http://www.citrus.fi">www.citrus.fi</a>
        </p>
    </footer>
</body>
</html>
