﻿@using CatDayCareEnterprise
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Cat>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cat Day Care Enterprise Ltd</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/superhero/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>  
    <script src="~/js/site.js"></script>
</head>
<body>

    <div class="container">
        <h1>
            Cat list
        </h1>
        
        <br />
        <br />
        <br />

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>RFID <sup>*</sup></th>
                    <th>Owner name</th>
                    <th>Owner e-mail</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Cat cat in Model)
                {
                    <tr>
                        <th>
                            @cat.ID
                        </th>
                        <th>
                            @cat.Name
                        </th>
                        <th>
                            @cat.RFID
                        </th>
                        <th>
                            @cat.OwnerName
                        </th>
                        <th>
                            @cat.OwnerEmail
                        </th>
                    </tr>
                }
            </tbody>
        </table>

        <br />

        <p>
            <sup>*</sup>
            A microchip implant is an identifying integrated circuit placed under the skin of an animal. The chip, about the size of a large grain of rice, uses passive RFID (Radio Frequency Identification) technology, and is also known as a PIT (Passive Integrated Transponder) tag.
            <br />
            <br />
            <a href="https://en.wikipedia.org/wiki/Microchip_implant_(animal)">See more</a>
        </p>

    </div>

    <footer>
        <p>&copy; 2018 - Cat Day Care Enterprise Ltd</p>
    </footer>

</body>
</html>
