﻿@using CatDayCareEnterprise
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cat Day Care Enterprise Ltd</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/superhero/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>

    <div class="container">
        <h1>
            Check-in / Check-out
        </h1>

        <br />
        <br />
        <br />

        <div ng-app="CatDayCareEnterprise">
            <div ng-controller="checkInCheckOutController as vm">

                <div class="row">
                    <div class="col-md-12" ng-if="vm.data.name !== null">
                        Cat's name: <strong>{{vm.data.name}}</strong>
                    </div>
                    <div class="col-md-12" ng-if="vm.data.name === null">
                        Cat's name: <i>none</i>
                    </div>
                    <br />
                    <br />
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Please enter cat's RFID" ng-model="vm.data.rfid" ng-keydown="$event.keyCode === 13 && vm.searchCat()">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary" ng-click="vm.searchCat()">Search</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-lg btn-block" ng-disabled="vm.data.id === null" ng-click="vm.checkIn()">Check-in</button>
                    </div>

                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-lg btn-block" ng-disabled="vm.data.id === null" ng-click="vm.checkOut()">Check-out</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2018 - Cat Day Care Enterprise Ltd</p>
    </footer>

</body>
</html>
