﻿@using CatDayCareEnterprise
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cat Day Care Enterprise Ltd</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/superhero/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>

    <div class="container">
        <h1>
            Cat Day Care Enterprise Ltd
        </h1>
        
        <p id="OurMainSlogan" class="lead">
            We are the world's leading day car for our lovely cats!
        </p>

        <div class="logo">
            <img class="roundedX img-fluidx img-thumbnail mx-auto d-block" src="images/cat.jpg" />
        </div>

        <div class="row">
            <div class="col-md-4">
                <a href="/DayCare/Register" type="button" class="btn btn-primary btn-lg btn-block">
                    Register a new cat
                </a>
            </div>
            <div class="col-md-4">
                <a href="/DayCare/CatList" type="button" class="btn btn-primary btn-lg btn-block">Cat list</a>
            </div>
            <div class="col-md-4">
                <a href="/DayCare/CheckInCheckOut" type="button" class="btn btn-primary btn-lg btn-block">Check-in / Check-out cat</a>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2018 - Cat Day Care Enterprise Ltd</p>
    </footer>

</body>
</html>
