﻿@using CatDayCareEnterprise
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Cat

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cat Day Care Enterprise Ltd</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/superhero/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>

    <div class="container">
        <h1>
            Register a new customer
        </h1>
        
        <br />
        <br />
        <br />

        @using (Html.BeginForm("Register", "DayCare", FormMethod.Post))
        {
            <fieldset>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">
                        Name
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.Name)
                        <span class="text-danger">
                            @Html.ValidationMessageFor(x => x.Name)
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">
                        RFID
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.RFID)
                        <span class="text-danger">
                            @Html.ValidationMessageFor(x => x.RFID)
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">
                        Owner name
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.OwnerName)
                        <span class="text-danger">
                            @Html.ValidationMessageFor(x => x.OwnerName)
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">
                        Owner e-mail
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.OwnerEmail)
                        <span class="text-danger">
                            @Html.ValidationMessageFor(x => x.OwnerEmail)
                        </span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </fieldset>
        }
    </div>

    <footer>
        <p>&copy; 2018 - Cat Day Care Enterprise Ltd</p>
    </footer>

</body>
</html>
